In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from engie_QC import EngieQC
from examples.turbine_analysis.engie_project import TurbineEngieOpenData
import pandas as pd
import numpy as np

In [3]:
meter_df = pd.read_csv('engie_meter.csv')

In [4]:
meter_df.head()

                  time   energy_kwh               time.1
0  2013-01-01 00:00:00  3656.536803  2013-01-01 00:00:00
1  2013-01-01 01:00:00  3504.065110  2013-01-01 01:00:00
2  2013-01-01 02:00:00  4372.998445  2013-01-01 02:00:00
3  2013-01-01 03:00:00  5463.931184  2013-01-01 03:00:00
4  2013-01-01 04:00:00  5997.180282  2013-01-01 04:00:00

In [5]:
meter_df.drop(columns = ['time.1'], axis=1, inplace=True)

In [6]:
meter_df.head()

                  time   energy_kwh
0  2013-01-01 00:00:00  3656.536803
1  2013-01-01 01:00:00  3504.065110
2  2013-01-01 02:00:00  4372.998445
3  2013-01-01 03:00:00  5463.931184
4  2013-01-01 04:00:00  5997.180282

In [7]:
meter_df['time'] = pd.to_datetime(meter_df['time'])
meter_df.set_index('time', inplace=True, drop=False)

In [8]:
meter_df.head()

                                   time   energy_kwh
time
2013-01-01 00:00:00 2013-01-01 00:00:00  3656.536803
2013-01-01 01:00:00 2013-01-01 01:00:00  3504.065110
2013-01-01 02:00:00 2013-01-01 02:00:00  4372.998445
2013-01-01 03:00:00 2013-01-01 03:00:00  5463.931184
2013-01-01 04:00:00 2013-01-01 04:00:00  5997.180282

In [9]:
avail_curt = pd.DataFrame(index = meter_df.index)
avail_curt['meter'] = meter_df['energy_kwh']

In [10]:
avail_curt['availability_kwh'] = .05 * meter_df['energy_kwh']
avail_curt['curtailment_kwh'] = 0

In [11]:
avail_curt.to_csv('engie_avail_curt.csv')