## Step 1: Load in data

### Note: If you are running into a certificate error throughout any of this process, try again unplugged from the NREL network

In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
from engie_QC import EngieQC
from examples.turbine_analysis.engie_project import TurbineEngieOpenData #Note that this is found the turbine analysis example folder
import pandas as pd
import numpy as np

## Step 2: Use TurbineEngieOpenData import to prepare for our full import

In [3]:
R80711 = TurbineEngieOpenData(name = 'R80711', start_date = '01.01.2013 00:00', end_date = '12.31.2013 23:50')
R80721 = TurbineEngieOpenData(name = 'R80721', start_date = '01.01.2013 00:00', end_date = '12.31.2013 23:50')
R80736 = TurbineEngieOpenData(name = 'R80736', start_date = '01.01.2013 00:00', end_date = '12.31.2013 23:50')
R80790 = TurbineEngieOpenData(name = 'R80790', start_date = '01.01.2013 00:00', end_date = '12.31.2013 23:50')
turbs = [R80711, R80721, R80736, R80790]

## Step 3: Import with EngieQC class

In [4]:
# Here is a class definition to concat the dataframes from the individual turbines to create a full scada dataset
# The name 'EngieQC' indicates that it will prepare pre-QCed data. This is different from the ProjectEngie import that handles the full project import
turb_coll = EngieQC(name = 'Engie', start_date = "01.01.2013 00:00",end_date = "12.31.2013 23:50", turbs = turbs)

In [11]:
turb_coll.prepare() # This can take some time

In [12]:
turb_coll._scada.df.head()

,time,wtur_W_avg,wmet_wDir_avg,wmet_wdspd_avg,ID
time,,,,,
2013-01-01 00:00:00,2013-01-01 00:00:00,1303.77,174.13000,9.479999,R80711
2013-01-01 00:10:00,2013-01-01 00:10:00,1276.15,173.53000,9.240000,R80711
2013-01-01 00:20:00,2013-01-01 00:20:00,1286.34,172.52000,9.190000,R80711
2013-01-01 00:30:00,2013-01-01 00:30:00,1081.10,170.12000,8.460000,R80711
2013-01-01 00:40:00,2013-01-01 00:40:00,1062.01,171.89999,8.490000,R80711

## Step 4: Create a csv file

In [15]:
turb_coll._scada.df.to_csv('engie_scada.csv') # This is the csv file that we will use for our QC analysis